@import "../../schema-variables";

$lamellaWidth: 25px;
$lamellaHeight: 45px;
$lamellaMainColour: #003cff;
$lamellaContainerWidth: $schemaWidth * 0.8;
$lamellaContainerHeight: $schemaHeight * 0.9;

:export {
  lamellaWidth: $lamellaWidth;
  lamellaHeight: $lamellaHeight;
  lamellaMainColour: $lamellaMainColour;
  lamellaContainerWidth: $lamellaContainerWidth;
  lamellaContainerHeight: $lamellaContainerHeight;
}
