@import "varibales";

#slot__container {
  width: 70%;
  height: 70%;
  position: absolute;
}

#slot__container > div {
  width: $slotWidth;
  height: $slotHeight;
  background-color: #ffffff;

  border-radius: 50%;

  position: absolute;

  box-shadow: 0 0 0 1px $slotMainColour;
}

#slot__container span {
  color: $slotMainColour;
  font-size: 17px;

  position: absolute;
  top: -30px;
  display: inline-block;
}

.sector__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sector__container > div {
  width: 1px;
  height: 100%;
  background-color: $slotMainColour;
  position: absolute;
}
