@import "variables";

#canvas__wiring-arrows {
  position: absolute;

  pointer-events: none;
  
  width: 60%;
  height: 60%;
}

#slot__container {
  position: absolute;

  width: $slotContainerWidth;
  height: $slotContainerHeight;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slot-item {
  width: $slotWidth;
  height: $slotHeight;
  background-color: #ffffff;

  border-radius: 50%;

  position: absolute;

  box-shadow: 0 0 0 1px $slotMainColour;

  display: flex;
  justify-content: center;
  align-items: center;
}

#slot__container span {
  color: $slotMainColour;
  font-size: 17px;

  position: absolute;
  top: -30px;
  display: inline-block;
}

.sector__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sector__container > div {
  width: 1px;
  height: 100%;
  background-color: $slotMainColour;
  position: absolute;
}

.surrounding-circle {
  height: 100%;
  border: 1px solid #000000;
  border-radius: 50%;

  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}
