$slotWidth: 60px;
$slotHeight: 60px;
$slotMainColour: #000000;
$slotContainerWidth: 60%;
$slotContainerHeight: 60%;

:export {
  slotWidth: $slotWidth;
  slotHeight: $slotHeight;
  slotMainColour: $slotMainColour;
  slotContainerWidth: $slotContainerWidth;
  slotContainerHeight: $slotContainerHeight;
}
