@import "../../schema-variables";

$slotWidth: 60px;
$slotHeight: 60px;
$slotMainColour: rgba(0, 0, 0);
$slotContainerWidth: $schemaWidth * 0.6;
$slotContainerHeight: $schemaHeight * 0.6;

:export {
  slotWidth: $slotWidth;
  slotHeight: $slotHeight;
  slotMainColour: $slotMainColour;
  slotContainerWidth: $slotContainerWidth;
  slotContainerHeight: $slotContainerHeight;
}
