.form-settings {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

select, input {
  padding: 5px 10px;
  margin: 5px;
}

input {
  padding: 7px 10px;

  width: 150px;
}

.form-settings > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 15px;
}

.form-settings label {
  color: black;
}
