@import "schema-variables";

#schema {
    width: $schemaWidth;
    height: $schemaHeight;
    max-height: 80%;

    margin-top: 20px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
