#schema {
    width: 100%;
    height: 100%;
    max-height: 80%;

    margin-top: 20px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

#lamella__container {
    width: 80%;
    height: 90%;

    position: absolute;
}
